CGenial.pdf
readme_tmp.md
cache/*
environment.yml
arduino-ide_nightly-20230310_Linux_64bit.AppImage
wetransfer_cgenial_2023-03-29_1931
wetransfer_cgenial_2023-03-29_1931.zip
wetransfer_cgenial_2023-03-27_1108.zip
*.MOV
